<template>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, beatae culpa ea ex exercitationem fugiat, id magni maxime minus molestias mollitia non odio omnis quisquam quo saepe sapiente ut voluptatem.

    </div>
</template>
<script>
export default {}
</script>
